<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestRESTful.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C0611BB1DA241CC00FD627B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0611D41DA241CC00FD627B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0611DF1DA241CC00FD627B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
